doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title=title
		link(rel='stylesheet', href='/public/assets/react/build/static/css/main.css')
	body
		noscript You need to enable JavaScript to run this app.
		#root
		#portals
		script(src="/public/assets/react/js/main.js")
