extends ./layout.pug
block content
	h2 Password Updated
	p Your credential password has been changed
	p
		| Hello
		strong=` ${to.name}`
		=`, We wanted to let you know that your`
		strong=` ${siteName} `
		| password was reset.
	p Please do not reply to this email with your password, We will never ask for your password, and we strongly discourage you from sharing it with anyone.
